breathe
cmake>=3.23
conan==1.59.0
dataclasses
Jinja2==3.0.3 # https://github.com/sphinx-doc/sphinx/issues/10291
lit>=12.0.0
markupsafe==2.0.1
myst-parser
ninja>=1.10
numpy
pybind11>=2.8.0
pytest
pytest-asyncio
PyYAML<=6.0,>=3.11
setuptools_scm
reno
Sphinx>=4.0,<7.2
sphinx-rtd-theme
sphinx-sitemap
