name: Continuous Integration
on: [push]
jobs:
  Build:
    runs-on: ubuntu-latest
    env:
      CONAN_USER_HOME: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # -- REMOVE ONCE OPEN SOURCE
      # Needed until Qiskit/qss-qasm is public.
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install pip packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Export QSSC_VERSION from Git version tag
        run: |
          version=`python -c "from setuptools_scm import get_version; print(get_version())"`
          echo "QSSC_VERSION=$version" >> $GITHUB_ENV
      - name: Try load Conan cache
        id: cache
        uses: actions/cache/restore@v3
        with:
          path: .conan
          key: conan-${{ runner.os }}-${{ hashFiles('conandata.yml', 'conanfile.py', 'conan/**/*.py', 'conan/**/*.yml') }}
          restore-keys: conan-${{ runner.os }}
      - name : Print cache hit/miss
        run: |
          echo "Cache was hit: ${{ steps.cache.outputs.cache-hit }}"
      # If we have a cache miss on 'main', clear the cache.
      # A dependency was updated, so we need to drop the old one
      # to prevent unbounded cache growth over time.
      - name : Clear Conan cache
        if: github.event_name == 'push' && github.ref == 'refs/heads/main' && steps.cache.outputs.cache-hit != 'true'
        run: |
          rm -rf ./.conan
      - name: Create Conan default profile
        run: |
          conan profile new default --detect || true
          conan profile update settings.compiler.libcxx=libstdc++11 default
      - name: Add QASM, LLVM, and clang tools recipes to Conan cache.
        run: ./conan_deps.sh
      - name: Create build dir
        run: mkdir build
      - name: Conan install
        id: conan_install
        working-directory: build
        run: |
          export CONAN_LLVM_GIT_CACHE="${{ runner.temp }}/llvm-project"
          conan install --build=outdated ..
      - name: Build
        id: build
        working-directory: build
        run: conan build ..
      - name: Debug permissions
        run: |
          llvm_bin="/home/runner/work/qss-compiler/qss-compiler/.conan/data/llvm/14.0.6-2/_/_/package/c2b73323b84b7a2f65474436a80bc0182adf072c/bin/"
          ls -la $llvm_bin
          chmod +x "$llvm_bin/llvm-lit"
          readelf -l "$llvm_bin/llvm-lit"|grep "program interpreter"
          ldd -r "$llvm_bin/llvm-lit"
      - name: Test
        id: test
        working-directory: build
        run: ninja check-tests

      # On 'main' branch, always save the cache if Conan install succeeded.
      # Note: we only update the cache from 'main' to avoid "cache thrashing", which would result in the 'main'
      #       cache getting LRU-evicted for every PR, since a single run uses most of the 10GB repo limit.
      - uses: actions/cache/save@v3
        if: always() && (github.event_name == 'push' && github.ref == 'refs/heads/main' && steps.conan_install.outcome == 'success')
        with:
          path: .conan
          key: conan-${{ runner.os }}-${{ hashFiles('conandata.yml', 'conanfile.py', 'conan/**/*.py', 'conan/**/*.yml') }}